/* Global styles 
------------------------------------*/


/* border box fix */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

a {
    color: orange;
}

a:hover {
    color: darksalmon;
}

h1,
h2 {
    /*  font-family: 'Caveat', cursive;*/
    font-weight: 400;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 36px;
    margin-top: 0;
}

.content-wrap {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
}

.column-narrow {
    width: 35%;
    float: left;
    padding-right: 3%;
    min-height: 175px;
}

.column-wide {
    width: 62%;
    float: left;
    min-height: 175px;
}


/* Header & Footer 
------------------------------------*/

header,
footer {
    background: #2B2D42;
    color: #8D99AE;
}

header h1,
header h2 {
    color: #EDF2F4;
    margin: 0;
}


/* Header styles only */

.profile-img {
    object-fit: contain;
    max-width: 40%;
    max-height: 40%;
    width: auto;
    height: auto;
}


/* Footer styles only */

footer {
    text-align: center;
}

.contact-info a {
    padding: 10px;
    display: inline-block;
}


/* Work Experience
------------------------------------*/

.work {
    background: #EDF2F4;
}


/* Education
------------------------------------*/

.education {
    background: #8D99AE;
}

@media (max-width: 800px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 18px;
        margin-top: 0;
    }
    header h1,
    header h2 {
        color: #EDF2F4;
        margin: 0;
    }
    body {
        font-size: 10px;
        margin: 0;
    }
    .content-wrap {
        margin: 0 auto;
        padding: 10px;
    }
    .column-narrow {
        width: 35%;
        float: left;
        padding-right: 3%;
        min-height: 100px;
    }
    .column-wide {
        width: 62%;
        float: left;
        min-height: 100px;
    }
}